@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000;
  --background: #F8F9FA;
  --text-color: #2D3748;
  --text-color-soft: #A0AEC0;
  --border: #E2E8F0;
  --green: #4FD1C5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--text-color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.ant-menu-item {
  background-color: var(--background);
  height: 56px !important;
  color: var(--text-color-soft);
}

.ant-menu-item.ant-menu-item-selected {
  background-color: white !important;
  color: var(--text-color) !important;
  height: 56px !important;
}

.ant-menu-item.ant-menu-item-active.ant-menu-item-selected {
  opacity: 1 !important;
  color: var(--text-color) !important;
}

.ant-menu-item.ant-menu-item-active {
  opacity: 0.75 !important;
  color: var(--text-color-soft) !important;
}

.ant-menu-title-content {
  font-size: 12px;
  margin-left: 10px;
}

.ant-switch {
  background-color: var(--text-color-soft) !important;
  width: 32px !important;
}

.ant-switch-checked {
  background-color: var(--green) !important;
}